---
layout: default
icons:
  - icon: /images/design.png
    name: graphic design
  - icon: /images/dev.png
    name: web development
  - icon: /images/branding.png
    name: brand development
  - icon: /images/globe.png
    name: marketing
  - icon: /images/marketing-gears.png
    name: social media
  - icon: /images/video.png
    name: videography & production
bundles:
  - picture: /images/dev.png
    b-name: i want web
    b-description-1: • the simple one
    b-description-2: • getting into details
    b-description-3: • i want to sell

  - picture: /images/marketing-gears.png
    b-name: give me social
    b-description-1: • professional look
    b-description-2: • influencer management
    b-description-3: • growth
  - picture: /images/branding.png
    b-name: develop my brand
    b-description-1: • logo design
    b-description-2: • slogan development
    b-description-3: • mission statement
  - picture: /images/video.png
    b-name: produce videos
    b-description-1: • head shots
    b-description-2: • commercials
    b-description-3: • podcast space/voiceovers
  - picture: /images/hands.png
    b-name: the whole enchilada
    b-description-1: • web development
    b-description-2: • branding and social media
    b-description-3: • videography
  - picture: /images/choosing.png
    b-name: build your own burrito
    b-description-1: • pick and choose which elements you are needing and we will develop a plan based on your budget.
    b-description-2:
    b-description-3:
---

<!-- this is the icon section -->
<section>
  <div>
    <h2 class=" center">
      services we offer
    </h2>
  </div>
  <div class="grid padded">
    {% for item in page.icons %}
    <div class="col-4_sm-12 center no-padding padding-b">
      <img src="{{ item.icon }}" class="icons">
        <p>
          {{ item.name }}
        </p>
    </div>
    {% endfor %}
  </div>
</section>
<!-- this is the image about us section -->
<section class="grid">
    <div class="col-5_sm-12">
      <img src="/images/old-mac.png" class="old-mac-pic">
    </div>
    <div class="col-7_sm-12 bg-feat about padded">
      <h3>
        about us
      </h3>
      <h4>
        who we are
      </h4>
      <p>
      Styles Media is your one stop shop for all things digital marketing. Our digital marketing expertise lead to massive brand exposure that are
      translated into sales. By staying up-to-date on the latest trends and
      methods of marketing, we can produce positive results for any company. We offer a variety of services customized to meet your specific needs.
      </p>
      <a href="#" class="button"> get to know us </a>
    </div>
</section>
<!-- this is the icon section -->
<section class="padded icon-boxes">
  <div>
    <h2 class="center dope-bundles">
      dope bundles
    </h2>
    <div class="grid-center">
      {% for item in page.bundles %}
      <div class= "col-3_sm-12 center bg-light icon-box padded-2">
        <img src="{{ item.picture }}" class="icons">
          <h3>
            {{ item.b-name }}
          </h3>
          <div class="center bullets">
            <p>
            {{ item.b-description-1}}
            </p>
            <p>
            {{ item.b-description-2}}
            </p>
            <p class="button-space">
            {{ item.b-description-3}}
            </p>
        </div>
        <a href="#" class="icon-button"> get details </a>
      </div>
      {% endfor %}
      </div>
    </div>
</section>
<!-- this is the about image text section -->
<section class="grid">
  <div class="col-6_sm-12 bg-light contact-box padded ">
    <div class="box">
      <h3>
        hit us up at
      </h3>
        <img src="/images/phone.png" class="icon-small">
      <p>
        480-433-6678
      </p>
        <img src="/images/email.png" class="icon-small">
        <p>
        info@stylesmediagroup.com
      </p>
        <img src="/images/pin.png" class="icon-small">
        <p>
          132 E. 6th St. <br>
          Basement Studios<br>
          Tempe, AZ 85251
      </p>
      <h5 class="mini-font">
        We share a studio space with
        <a href="#" class="super-star">
          super star media house
          </a>
      </h5>
    </div>
  </div>
  <div class="col-6_sm-12 film">
  </div>
</section>
<!-- this is the footer section -->
