/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

/* Utility Classes*/

.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left   { text-align: left;   }
.right  { text-align: right;  }
.center { text-align: center; }

.padded     { padding: 5%;  }
.padded-1   { padding: 1rem; }
.padded-2   { padding: 2rem; }
.no-padding { padding: 0;   }
.padding-b  {padding-bottom: 3rem;}
.padding-b-5  {padding-bottom: 10rem;}
.padding-top{ padding-top: 2rem;}
.form-padded { padding: 0 0.3rem; }

.txt-white { color: #fff;}

.bg-light { background-color: #E4E5E9; }
.bg-dark { background-color: rgb(60,60,65);
          color: white;}
.bg-white{ background-color:#fff;}
.bg-feat{ background-color: #0E0E0F;}

/* colors black #0E0E0F white #fff */

/* ---- Button ---- */
.button {
  text-decoration: none;
  padding: 10px;
  border: 2px solid #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color:#fff;
  border-radius: 3px;
}
.button:hover{
  background-color:#fff;
  color: #0E0E0F;
}

/* ---- Typography ---- */

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1.2rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 1rem;
  color: black;
}

h1 {  font-size: 2.5rem; }
h2 {  font-size: 2.3rem; }
h3 {  font-size: 2.2rem; }
h4 {  font-size: 1.2rem; }
h5 {  font-size: 1.9rem; }
h6 {  font-size: 1.7rem; }

.banner-img{
  background-image: url('/images/tv.jpg');
  min-height: 90vh;
  background-size: cover;
  background-position: bottom;
}
.title{
  font-size: 2.7rem;
  padding-left: 20%;
}
.title-para{
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}
.icons{
  width: 35%;
}
.logo{
  position: absolute;
  top: 5rem;
  right: 5rem;
}
/* top nav design elements */
.top-nav{
  font-size: 1rem;
  font-weight: 600;
  color: #0E0E0F;
  padding-top: 3rem;
}
.top-nav a{
  text-decoration: none;
  color:inherit;
  padding-left: 2rem;
}
.top-nav a:hover{
  text-decoration: none;
  color:#E4E5E9;
  padding-left: 2rem;
}
.logo-nav{
  width: 20vh;

}
/* about page text designs */
.old-mac-pic{
  height: 80vh;
  min-width:100vh;
  background-image: url('/images/old-mac.png');
  background-size: cover;
  background-position: center;
}

.about h3{
  font-size: 2rem;
  color: white;
  padding-bottom: 1.5rem;
}
.about h3{
  font-size: 2rem;
  color: white;
  padding-bottom: 1.5rem;
}
.about h4{
  font-size: 1.5rem;
  color: white;
}
.about p{
  font-size: 1rem;
  color: white;
  line-height: 2rem;
  padding-bottom: 3rem;
}
.bullets{
  padding-left: 5rem;}
/* icon + text section */
.icon-boxes p{
  line-height: 2.5rem;
}
.icon-box{
  margin: 1rem;
}
.button-space{
  padding-bottom: 2rem;
}
.icon-button{
  text-decoration: none;
  padding: 10px;
  border: 2px solid #0E0E0F;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color:#0E0E0F;
  color: #fff;
  border-radius: 3px;
}
.icon-button:hover{
  background-color:#E4E5E9;
  color: #0E0E0F;
}
.bullets{
  text-align: left;
  padding-left: 3rem;
}
.dope-bundles{
  padding-bottom: 3rem;
}
.film{
  background-image: url('/images/film.jpg');
  background-position: center;
  background-size: cover;
  height: 85vh;
  min-width: 119.5vh;
}
.box{
  padding-top: 2rem;
}
.contact-box h3{
  color:#0E0E0F;
}

.contact-box h2{
  color:#0E0E0F;
}
.contact-box p{
  color:#0E0E0F;
  padding-bottom: 2rem;
}
.mini-font{
  font-size: .5rem;
  font-weight: 500;
  padding-bottom: 2rem;
}
.super-star{
  text-decoration: none;
  color:inherit;
}
.super-star:hover{
  text-decoration: none;
  color:rgb(150,150,150);
}
.box p{
  font-size: 1rem;
  line-height: 2rem;
  padding-bottom: 1rem;
}
.icon-small{
  width:1.5rem;
  padding-top: 1rem;
}
.footer-txt{
  font-size: .8rem;
  font-weight: 500;
  line-height: 2rem;
}
.footer{
  color: #fff;
  background-color: #0E0E0F;
}

  .bg-image {
      background-image: url('/images/old-mac.png');
      background-size: cover;
      background-position: center;
      min-height: 30rem;
      min-width: 75vh;

    }
    .bg-films {
        background-image: url('/images/film.jpg');
        background-size: cover;
        background-position: center;
        min-height: 30rem;
        min-width: 75vh;

      }
/* --------- Forms  ------------- */

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid #33669a;
}

form .button {
  margin:0;
}

.news input,
.news .button {
  display: inline-block;
  width:48%;
  margin: 0.5%;
}

.news .button {
  border-radius: 0;
}
@media (max-width: 1300px){
  .old-mac-pic{
    height: 80vh;
    min-width:200vh;
    background-image: url('/images/old-mac.png');
    background-size: cover;
    background-position: center;
  }
}
